$cBlack: black;
$cDimGray: #696969;
$cSlateGray: #708090;
$cGainsboro: #dcdcdc;
$cCornSilk: #fff8dc;
$cWhite: #fff;
$cLightSeaGreen: lightseagreen;
$cSeaGreen: seagreen;
$cDarkSeaGreen: darkseagreen;

