@use "../globals/mq" as *;
@use "../globals/variables" as *;
@use "../parts/common";

/* nav => */
#nav{
    width: 100vw;
    height: 5vh;
    min-height:2rem;
    background-color: #222;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.nav {

    &__menu {
        cursor: pointer;
        padding: 0 1rem;
        border-radius: 1rem;
        transition: 0.3s;
        user-select: none;

        &:hover {
            color: #222;
            background-color: #fff;
        }

        &:active {
            transform: scale(0.9);
        }

        &:active {
            color: #222;
            background-color: #fff;
        }
    }
}

/* <= nav */

/* section => */
section {

    width: 100vw;
    height: 100vh;
    display: none;
    justify-content:center;
    align-items: center;
    flex-direction: column;

    &.active {
        display: flex;
    }
}
/* <= section */